
    @{
        ViewBag.Title = "Contact";
    }
    <h2>@ViewBag.Title</h2>

    <address>
        <br />
        <br />
        <img src="~/img/telephone.png" width="20px" height="20px" /> +55(11)94023-9043
        <br />
        <img src="~/img/email.png" /> evelynbr@live.com
        <br />
        <a href="https://www.linkedin.com/in/evelyn-juliane-08ba67159/"> <img src="~/img/icons8-linkedin-100.png" width="30px" height="30px" /></a><br />
        <a href="https://github.com/evelynjuliane?tab=repositories"><img src="~/img/icons8-glifo-do-ios-30.png" /></a>
        <br />

    </address>

