@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<div class=" btn-info">
    <div>
        
        <div class="text-center">
            <br />
            <br />
            <div class="rounded-circle">
            <img src="~/img/eu.png" with="120px" height="120px">
                </div>
            <p>Estagiária</p>
            <h1>Evelyn Juliane</h1>
        </div>
        <p class="lead"></p>

    </div>
</div>
    
        <div class="row">
            <div class="col-md-4">
                <h2>Fatec Carapicuiba</h2>
                <p>
                    Análise e Desenvolvimento de Sistemas
                </p>

            </div>
            <div class="col-md-4">
                <h2>GFT Consulting</h2>
                <p>Estagiária em Desenvolvimento de Sistemas </p>

            </div>
            <div class="col-md-4">
                <h2>Etec Carapicuiba</h2>
                <p>Tecnico em Redes de Computadores </p>

            </div>
        
    </div>
 