@{
    ViewBag.Title = "Project";
}
<h2>@ViewBag.Title</h2>
<br />
<br />
<br />
<h4>Projeto RDS</h4>
<p>Plataforma de Gerenciamento de serviços. Densenvolvivida em C# com banco MySql, baseada no paradigma de modelo cascata</p>
<br />
<h4>Estoque de Canetas</h4>
<p>Criado a Acess</p>
<br />
<h4>Projeto do Condominio</h4>
<p>Criado pra automatizar calculos de cobranças das casas</p>
<br />
<h4>Estacionamento</h4>
<p>Elaborado em Java usando estrutura de dados. Simula a manobras dos carros.</p>
