
@{
    ViewBag.Title = "Skills";
}
    <h2><img src="~/img/icons8-desenvolvimento-de-habilidade-100.png" width="70px" height="70px" />Skills</h2>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img src="~/img/icons8-logo-java-coffee-cup-96.png" width="70px" height="70px" />
                <p>Conceitos Básicos POO e Estrutura de Dados</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="~/img/icons8-c-afiado-logotipo-100.png" width="70px" height="70px" />
                <p>Conceitos Básicos de POO e ASP.NET MVC</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="~/img/icons8-c-100.png" width="70px" height="70px" />
                <p> Estrutura de dados, manipulação de memória e arquivos</p>
            </div>
        </div>
        <div class="col-md-4">
            <br />
            <div class="text-center">
                <img src="~/img/icons8-css-100.png" width="70px" height="70px" />
                <p>Bootstrap e CSS3</p>
            </div>
        </div>
        <div class="col-md-4">
            <br />
            <div class="text-center">
                <img src="~/img/icons8-sql-100.png" width="70px" height="70px" />
                <p> Conceitos Básicos de banco de dados e CRUD </p>
            </div>
        </div>
        <div class="col-md-4">
            <br />
            <div class="text-center">
                <img src="~/img/icons8-ms-excel-100.png" width="70px" height="70px" />
                <p>Macros usando Visual Basic Application</p>
            </div>
        </div>

    </div>       
       
       